* {
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: #000000;
  list-style: none;
}

body {
  background-color: #dad6d6;
  background-image: url(../img/bg-lightl-903.jpg);
}

.conteiner_main {
  width: 1200px;
  padding-bottom: 300px;
  background-color: #ffffff;
  margin-left: auto;
  margin-right: auto;
}
.conteiner_main .header {
  display: flex;
  height: 40px;
  background-color: #f7f7f7;
  border-bottom: 1px solid rgba(168, 165, 165, 0.5);
  padding-top: 13px;
  padding-bottom: 10px;
  position: relative;
}
.conteiner_main .header .tel {
  margin-left: 40px;
  margin-right: 20px;
  padding-left: 10px;
  padding-right: 10px;
  border-right: 2px solid rgba(168, 165, 165, 0.5);
}
.conteiner_main .header .tel::before {
  content: '';
  background-image: url(../icon/phone.png);
  background-size: cover;
  position: absolute;
  left: 30px;
  top: 15px;
  width: 13px;
  height: 14px;
}
.conteiner_main .header .date {
  padding-left: 10px;
  position: relative;
}
.conteiner_main .header .date::before {
  content: '';
  background-image: url(../icon/calendar.png);
  background-size: cover;
  position: absolute;
  left: -10px;
  top: 2px;
  width: 13px;
  height: 14px;
}
.conteiner_main .header .insta {
  margin-left: auto;
  margin-right: 20px;
  border-right: 2px solid rgba(168, 165, 165, 0.5);
  width: 15px;
  height: 15px;
  background-image: url(../icon/instagram.png);
  background-size: cover;
}
.conteiner_main .header .viber {
  width: 15px;
  height: 15px;
  background-image: url(../icon/viber.png);
  background-size: cover;
  margin-right: 20px;
}
.conteiner_main .header .wp {
  margin-right: 40px;
  width: 15px;
  height: 15px;
  background-image: url(../icon/whatsapp.png);
  background-size: cover;
}
.conteiner_main .nav {
  padding-top: 25px;
  padding-bottom: 25px;
}
.conteiner_main .nav .logo {
  font-size: 42px;
  font-weight: bolder;
  font-family: 'Dancing Script', cursive;
  margin-left: 44px;
}
.conteiner_main .nav .submenu {
  display: inline-block;
}
.conteiner_main .nav .submenu .mainhref {
  display: inline-block;
  margin-right: 26px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
}
.conteiner_main .nav .submenu .mainhref:hover {
  border-bottom: 1px solid rgba(250, 26, 26, 0.5);
}
.conteiner_main .nav .submenu .mainhref:first-child {
  margin-left: 120px;
}
.conteiner_main .nav .submenu .link_three:hover > .subremont {
  display: inline-block;
}
.conteiner_main .nav .submenu .subremont {
  display: none;
  position: absolute;
  top: 39px;
  left: -41px;
}
.conteiner_main .nav .submenu .subremont .price_name {
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  border-bottom: 1px solid rgba(168, 165, 165, 0.5);
  width: 130px;
  background-color: #ffffff;
}
.conteiner_main .nav .submenu .subremont .price_name:hover {
  border-bottom: 3px solid rgba(250, 26, 26, 0.5);
}
.conteiner_main .nav .submenu .contact {
  display: none;
  position: absolute;
  top: 39px;
  left: -8px;
  padding-left: 0;
}
.conteiner_main .nav .submenu .contact .contact_name {
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  border-bottom: 1px solid rgba(168, 165, 165, 0.5);
  width: 100px;
  background-color: #ffffff;
}
.conteiner_main .nav .submenu .contact .contact_name:hover {
  border-bottom: 3px solid rgba(250, 26, 26, 0.5);
}
.conteiner_main .nav .submenu .link_cont:hover > .contact {
  display: inline-block;
}
.conteiner_main .slider {
  background-image: url(../img/2-ri-5027.jpg);
  height: 450px;
  background-size: cover;
}
.conteiner_main .slider .block_slide_about {
  display: inline-block;
}
.conteiner_main .slider .block_slide_about .slide_1 {
  margin-top: 80px;
  padding-left: 30px;
}
.conteiner_main .slider .block_slide_about .slide_1_text {
  padding-left: 60px;
}
.conteiner_main .slider .block_slide_about .btn {
  display: block;
  width: 110px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
  border: 2px solid rgba(250, 26, 26, 0.5);
  border-radius: 20px 0 20px 0;
  margin-top: 30px;
  font-weight: bolder;
}
.conteiner_main .slider .block_slide_about .btn:hover {
  background-color: rgba(250, 26, 26, 0.5);
  color: #ffffff;
  cursor: pointer;
  font-weight: bolder;
}
.conteiner_main .slider2 {
  background-image: url(../img/analiticheskoe-issledovanie-rynka-dizaynerskoy.png);
  height: 450px;
  background-size: cover;
  display: none;
  border: 1px solid transparent;
}
.conteiner_main .slider2 .block_slide_about2 {
  width: 200px;
  margin-top: 40px;
  margin-left: 40px;
}
.conteiner_main .slider2 .block_slide_about2 .slide_2_text {
  margin-top: 20px;
}
.conteiner_main .about {
  display: inline-block;
  margin-top: 40px;
  margin-left: 40px;
  width: 300px;
}
.conteiner_main .about .about_name_two {
  margin-top: 20px;
  color: rgba(114, 112, 112, 0.5);
}
.conteiner_main .about .about_para {
  margin-top: 20px;
}
.conteiner_main .about_we {
  display: inline-block;
  margin-top: 40px;
  margin-left: 70px;
  width: 708px;
  vertical-align: top;
}
.conteiner_main .about_we .about_we_block {
  display: inline-block;
  width: 300px;
  height: 100px;
  vertical-align: top;
  position: relative;
}
.conteiner_main .about_we .about_we_block .fa {
  font-size: 30px;
  position: absolute;
  left: -60px;
  top: 10px;
  width: 50px;
  height: 50px;
  border: 3px solid #fa1a1a;
  text-align: center;
  padding-top: 8px;
  border-radius: 50% 0 50% 0;
  color: #ffffff;
  background-color: #fa1a1a;
}
.conteiner_main .about_we .about_we_block .fa:hover {
  color: #fa1a1a;
  border-radius: 50% 0 50% 0;
  background-color: white;
}
.conteiner_main .about_we .about_we_block:hover > .fa {
  color: #fa1a1a;
  border-radius: 50% 0 50% 0;
  background-color: white;
  transition: 0.5s;
}
.conteiner_main .about_we .about_we_block:first-child {
  margin-right: 100px;
}
.conteiner_main .about_we .about_we_block:last-child {
  margin-left: 100px;
}
.conteiner_main .how_work {
  font-size: 0;
}
.conteiner_main .how_work .how_work_h {
  text-align: center;
  font-size: 30px;
  margin-bottom: 40px;
  margin-top: 50px;
}
.conteiner_main .how_work .process {
  display: inline-block;
  width: 300px;
  height: 220px;
  vertical-align: top;
  padding-left: 10px;
  padding-right: 10px;
}
.conteiner_main .how_work .process .name_proc {
  font-size: 15px;
  text-align: center;
  margin-top: 140px;
}
.conteiner_main .how_work .process .text_proc {
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
}
.conteiner_main .how_work .process:first-of-type {
  padding-left: 0;
  width: 250px;
}
.conteiner_main .how_work .proc1 {
  background-image: url(../icon/proc1.png);
  background-repeat: no-repeat;
  background-position: top;
}
.conteiner_main .how_work .proc2 {
  background-image: url(../icon/proc2.png);
  background-repeat: no-repeat;
  background-position: top;
}
.conteiner_main .how_work .proc3 {
  background-image: url(../icon/proc3.png);
  background-repeat: no-repeat;
  background-position: top;
}
.conteiner_main .how_work .proc4 {
  background-image: url(../icon/proc4.png);
  background-repeat: no-repeat;
  background-position: top;
}
.conteiner_main .slider_new {
  position: relative;
  overflow: hidden;
  margin-top: 40px;
}
.conteiner_main .slider__wrapper {
  display: flex;
  transition: transform 0.6s ease;
}
.conteiner_main .slider__item {
  flex: 0 0 25%;
  max-width: 25%;
}
.conteiner_main .slider__item .slide_1 {
  background-image: url(../portfol/n_1.jpg);
  background-size: cover;
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 20px;
  border: 2px solid rgba(250, 26, 26, 0.5);
}
.conteiner_main .slider__item .slide_2 {
  background-image: url(../portfol/n_2.jpg);
  background-size: cover;
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 20px;
  border: 2px solid rgba(250, 26, 26, 0.5);
}
.conteiner_main .slider__item .slide_3 {
  background-image: url(../portfol/n_3.jpg);
  background-size: cover;
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 20px;
  border: 2px solid rgba(250, 26, 26, 0.5);
}
.conteiner_main .slider__item .slide_4 {
  background-image: url(../portfol/n_4.jpg);
  background-size: cover;
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 20px;
  border: 2px solid rgba(250, 26, 26, 0.5);
}
.conteiner_main .slider__item .slide_5 {
  background-image: url(../portfol/n_5.jpg);
  background-size: cover;
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 20px;
  border: 2px solid rgba(250, 26, 26, 0.5);
}
.conteiner_main .slider__item .slide_6 {
  background-image: url(../portfol/n_6.jpg);
  background-size: cover;
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 20px;
  border: 2px solid rgba(250, 26, 26, 0.5);
}
.conteiner_main .slider__item .slide_7 {
  background-image: url(../portfol/n_7.jpg);
  background-size: cover;
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 20px;
  border: 2px solid rgba(250, 26, 26, 0.5);
}
.conteiner_main .slider__control {
  position: absolute;
  top: 50%;
  display: none;
  align-items: center;
  justify-content: center;
  width: 40px;
  color: #fff;
  text-align: center;
  opacity: 0.5;
  height: 50px;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
}
.conteiner_main .slider__control_show {
  display: flex;
}
.conteiner_main .slider__control:hover,
.conteiner_main .slider__control:focus {
  color: #fff;
  text-decoration: none;
  outline: 0;
  opacity: .9;
}
.conteiner_main .slider__control_left {
  left: 10px;
}
.conteiner_main .slider__control_right {
  right: 10px;
}
.conteiner_main .slider__control::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
}
.conteiner_main .slider__control_left::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}
.conteiner_main .slider__control_right::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}
.conteiner_main .slider__item > div {
  line-height: 250px;
  font-size: 100px;
  text-align: center;
}

@media (max-width: 1200px) {
  .conteiner_main {
    width: 100%;
  }
}
@media (max-width: 375px) {
  .conteiner_main {
    width: 100%;
  }
  .conteiner_main .header {
    flex-wrap: wrap;
    height: 60px;
    padding-left: 25px;
  }
  .conteiner_main .header .tel {
    border-right: 0;
    margin-left: 30px;
    margin-bottom: 5px;
  }
  .conteiner_main .slider, .conteiner_main .slider2 {
    display: none;
  }
  .conteiner_main .about_we {
    width: 285px;
    display: flex;
    flex-wrap: wrap;
  }
  .conteiner_main .about_we .about_we_block:last-child {
    margin-left: 0;
  }
  .conteiner_main .about_we .about_we_block:first-child {
    margin-right: 0;
  }
  .conteiner_main .nav .submenu {
    display: block;
    width: 200px;
    margin: 0 auto;
  }
  .conteiner_main .nav .submenu .mainhref {
    display: block;
    text-align: center;
  }
  .conteiner_main .nav .submenu .mainhref:first-child {
    margin-left: 0;
  }
  .conteiner_main .slider__wrapper {
    margin-bottom: 30px;
  }
  .conteiner_main .slider__wrapper .slider__item {
    flex: 26 0 50%;
    max-width: 50%;
  }
  .conteiner_main .how_work {
    display: flex;
    flex-wrap: wrap;
  }
  .conteiner_main .how_work .how_work_h {
    margin: 0 auto;
  }
  .conteiner_main .how_work .process {
    margin: 0 auto;
  }
}
